/*
widths:
Mobile: 375px
Desktop: 1440px
*/

/* Default Styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    background-color: white;
    font-family: 'Red Hat Display', sans-serif;
    /* Primary Colors */
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    /* Neutral Colors*/
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);
}


.desaturated-blue {
    color: var(--Desaturatedblue);
}


/* Main Styling */

body {
    margin: 0 auto;
    height: 100vh;
    max-width: 1440px;
    background-color: var(--Paleblue);
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-position: top; 
    background-size: center;
}


.container {
    width: 90%;
    max-width: 370px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    box-shadow:  -2px 2px 4px var()
}


.header-image__img {
    position: relative;
    max-width: 100%;
    border-radius: 20px 20px 0 0;
}


main {
    text-align: center;
    padding: 0 2rem;
}


h1 { 
    margin-top: 1em;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 900;
}


/* Section 1 */
.section-1__p {
    line-height: 1.5em;
}


/* Section 2 */
.section-2  {
    padding: 1em 1.25em;
    border-radius: 12px;;
    background-color: var(--Verypaleblue);
    font-size: .9rem;
}


.section-2,  .button, .cancel  {
    width: 100%;
}


.annual-plan {
    font-weight: 900;
}


.change {
    margin-top: .5em;
    font-weight: 700;
    color: var(--Brightblue)
}


/* Proceed and Cancel Section */
.button {
    color: white;
    font-weight: 900;
    padding: 1.5em;
    border-radius: 12px;
    background-color: var(--Brightblue);
    border: none;
    box-shadow: 0px 10px 10px var(--Paleblue);
}


.cancel {
    text-decoration: none;
    font-weight: 900;
    margin-bottom: 2em;
}


/* Footer */
footer {
    width: 100%;
    text-align: center;  
}


.attribution {
    font-size: .8rem;
    position: absolute;
    bottom: -5em; 
}


/* Flex Containers */

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.gap {
    row-gap: 1.5em; 
}


.section-2-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.section-2-flex__flex{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


/* Media Queries */
/* Applies styles from 300px wide */
 @media (min-width: 300px) {
    .section-2-flex__flex{
         display: flex;
         flex-direction: row;
    }          
 }


/* Applies styles from 350px wide */
 @media (min-width: 350px) {
    .section-2-flex {
        flex-direction: row;
    }
}


/* Applies styles from 376px wide */
@media (min-width: 376px) {
    body {
        background-image: url(./images/pattern-background-desktop.svg);
    }
}